NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://localhost:27017/mercado-campesino-testing

# JWT — generar con: openssl rand -base64 64 (minimo 32 caracteres)
JWT_ACCESS_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_access
JWT_ACCESS_EXPIRES_IN=15m
